/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #fff;
  --first-color-dark: rgb(158,29,51);
  --first-color-darken: #dc3545;
  --white-color: #000;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}
.dropbtn {
  background-color: rgb(158,29,51);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 50px;
  width: 170px;
  
  
}

.btn{
  margin-top: 20px;
  margin-left: 175px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #dc3545;}
.fa fa-caret-down{
    color: white;
}


@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}


h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--white-color);
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
 
  ]
  .btn{
    align-items: center;
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
    height: 500px;
  }
  
}

@media screen and (min-width: 1024px){
  .l-main{
    padding-left: 10%;
  }
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 604px;
  }
}

.label{
  font-size: 20px;
}
@media screen and (max-width: 768px){
.l-main{
  padding-left: 20%;
}
}
@media screen and (max-width : 320px) {
  .home__img{
    display: none;
  }
  .btn{
    
    margin-left: 0;
  }
}